<div>
  <form
    class='edit-post-form'
    data-id={{id}}
  >
    <div class='field'>
      <input class='input' type='text' id='edit-title' value={{title}} />
    </div>

    <div class='field'>
      <textarea class='textarea' id='edit-content'>{{content}}</textarea>
    </div>
    <div class='field'>
      <p class='control'>
        <button class='btn btn-secondary' type='submit'>
          Update
        </button>
      </p>
    </div>
  </form>
</div>
<script src='/js/edit.js'></script>